
    <nav>
        <div class="container">
         <div class="logo">
             <img src="img/logo.jpg" alt="logo">
         </div>
         <ul>
             <li> <a href="/"> Home </a></li>
             <li> <a href="/get-blood"> Blood Banks</a></li>
             <li><a href="/doners"> Doners </a></li>
             <li><a href="/#about"> About </a></li>
             <!-- <li><a href="/be-doner">Become Doner</a></li> -->
             <li><a href="/#contact"> Contact </a></li>
         </ul>

         <!-- <div class="right">
             <input type="search" name="serch" placeholder="search nearest blood bank...">
             <a href="#" class="btn">Search</a>
         </div> -->
        </div>
    </nav>