<nav>
    <div class="admin-logo">
       <div> <img src="img/user.jpeg" alt="doner"> </div>
        <h2>Hi! Sumit</h2>
    </div>
    <ul>
        <li>
            <a href="/st-admin">
                <img class="home" src="img/home.png" alt="home">
            </a>
        </li>
        <li> <a href="/admin-doner">
            <div class="icon">
                <img src="img/doner.png" alt="doner">
                Doners
            </div>
            
        </a> </li>

        <li> <a href="/admin-bank">
            <div class="icon">
                <img src="img/blood-bank.svg" alt="doner">
                Blood Banks
            </div>
            
        </a> </li>
    </ul>

    <div class="logout">
        <a href="/admin-logout">
            Logout
        </a>
    </div>
</nav>